Animation/atlas
Animation/cmap
Animation/HowToRenderVideo
Animation/video



# Data
Data/part
Data/stats
Data/BLSA_*.csv

Data_20230309/part
Data_20230309/stats

Data_20230615_mac_reproducibility/part
Data_20230615_mac_reproducibility/stats

Data_zscore_feature_20230208

Data_20230615_mac_reproducibility/__stats
Data_20230615_mac_reproducibility/part
Data_20230615_mac_reproducibility/stats
Data_20230615_mac_reproducibility/___All_Errors.txt

# Figures
Figure/clustermap_v1
Figure/clustermap_v2/beta
Figure/clustermap_v2/pvalue
Figure/clustermap_v2/clustermap_20230209.pptx
Figure/clustermap_v3
Figure/clustermap_v4
Figure/clustermap_v5
Figure/clustermap_v6
Figure/clustermap_v7
Figure/figs
Figure/heatmap
Figure/idea_figure/v1/figs
Figure/idea_figure/v1/*.json
Figure/idea_figure/v2/figs
Figure/idea_figure/v2/*.json
Figure/idea_figure/v3/figs
Figure/idea_figure/v3/*.json
Figure/noisy_scalar_maps/problem_figure_v1/screenshots
Figure/noisy_scalar_maps/save
Figure/noisy_scalar_maps/session_age_motion_info.csv
Figure/OLS_simulation
Figure/qualitative_regression/v1/figs
Figure/qualitative_regression/v2/figs
Figure/qualitative_regression/v3/figs
Figure/spaghetti/v1
Figure/spaghetti/v2
Figure/T1_atlases